* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}
body {
  width: 100vw;
  overflow-y: scroll;

  overflow-x: hidden;
}
.hero {
  background-image: url('./assets/bg.png'), url('./assets/african-american.png');

  background-repeat: no-repeat, repeat-x, repeat-y;
}
.is-open {
  visibility: visible;
}
.is-closed {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: url('./assets/african-american.png'),
      url('./assets/bg.png');
    opacity: 0.9;
  }
}
